* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sens-serif;
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
}

header{
  text-align: center;
  margin-bottom: 20px;
}

header img{
  transtion: transform 0.3s ease;
}

header img:hover{
  transform: scale(1.05);
}
